<div id="carouselExampleSlidesOnly" class="carousel slide cover"  data-bs-ride="carousel">
  <div class="carousel-inner panel-inner">
    <div class="carousel-item panel-cover slide1 active">
        <div class="panel-info">
          <h5 class="panel-info-h5">Become a Volunteer in Your Community</h5>
          <a class="panel-info-link">View More</a>
        </div>
      <!-- <img class="d-block w-100" src="./../../assets/images/clean_community.jpg" alt="Community Cleanup"> -->
    </div>
    <div class="carousel-item panel-cover slide2">
      <div class="panel-info">
        <h5 class="panel-info-h5">All Hands on Deck! We Need You Now</h5>
        <a class="panel-info-link">View More</a>
      </div>
      <!-- <img class="d-block w-100" src="./../../assets/images/cloth_my_sheep.jpg" alt="Cloth My Sheep"> -->
    </div>
    <div class="carousel-item  panel-cover slide3">
      <div class="panel-info">
        <h5 class="panel-info-h5">Give Your Contribution and Have Fun!</h5>
        <a class="panel-info-link">View More</a>
      </div>
      <!-- <img class="d-block w-100" src="./../../assets/images/feed_my_sheep.jpg" alt="Feed My Sheep"> -->
    </div>
  </div>
</div>
