
  <div class="features-header mx-auto">
    <h2>We Can Change the World</h2>
    <p class="features-subTitle">Together, we can transform lives and our planet. By providing nourishing food and warm clothing to the homeless,
      planting trees to revitalize our environment, and ensuring access to clean, safe water for communities in need,
      we can create a better, more sustainable future for everyone.</p>
  </div>
  <div class="features-grid pt-3 mt-5">
    <div class="features-card">
      <div class="features-icon">Our Mission</div>
      <div class="features-description">Bring Faith and Hope to our Community. We do this by feeding, clothing and cleaning up our most needed area's.</div>
    </div>
    <div class="features-card">
      <div class="features-icon">Our Vision</div>
      <div class="features-description">Organize a team around the community that needs it.</div>
    </div>
    <div class="features-card">
      <div class="features-icon">Our Environment</div>
      <div class="features-description">Together we can clean up our community by doing tasks like planting tree's, offering clean water, and more.</div>
    </div>
  </div>

